@import url('https://fonts.googleapis.com/css?family=Abril Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kablammo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald';
}

body {
    font-size: 16px;
}
h1{
    font-size: 46px;
    line-height: 64px;
    color: black;
}
h2{
    
    font-size: 46px;
    line-height: 54px;
    color: black;
}
h4{
    font-size: 20px;
    color: black;
}
h6{
    font-weight: 700px;
   font-size: 12px;
}
p{
    font-size: 16px;
    color: #000000;
    margin:15px 0 20px 0;
}
.section-p1{
    padding: 50px 60px;
}
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    z-index: 9999;
    transition: opacity 0.3s ease-in-out;
}

#scrollToTopBtn.show {
    display: block;
}

body.dark-mode #scrollToTopBtn{
    background-color: #ffffff;
    color: #000;
}
/* Media query for phone devices */




#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#header a.logo {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Kablammo';
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s ease;
}

#navbar li button {
    font-size: 17px;
    font-weight: 600;
    transition: 0.3s ease;
    border: 0;
    background: transparent;
    cursor: pointer;
}

body.dark-mode #navbar li a:hover,
body.dark-mode #navbar li button:hover,
body.dark-mode #navbar li a.active,
#navbar li a:hover,
#navbar li button:hover,
#navbar li a.active {
    color: #ff9900;
}

body.dark-mode #navbar li a:hover::after,
body.dark-mode #navbar li a.active::after,
#navbar li a:hover::after,
#navbar li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #ff9900;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #000000;
    color: #ffffff7a;
}

body.dark-mode #header,body.dark-mode #navbar {
    background-color: #000000;

}

/* Additional dark mode styles for specific elements */
body.dark-mode #header a.logo {
    color: #ffffff;
}

body.dark-mode #navbar a,
body.dark-mode #mobile i  {
    color: #ffffff;
}

body.dark-mode #navbar .active {
    color: #ff9900;
}

#mobile ,#close {
    display: none;
}

@media (max-width: 799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #000000;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 17px;
        color: #000000;
    }
    #mobile ,#close {
        display:block;
    }
   
}


@media(max-width:477px){
    #header{
        padding: 10px 30px;
    }
   
}


#hero{
    background-image: url('perron.jpg');
    height: 90vh;
    width: 100%;
    background-position: top 5%;
    background-size: cover;
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
 #hero h1,h4{
    color: white;
}

@media (max-width: 767px) {
  #hero {
    height: auto;
    padding: 40px 20px;
  }
  #hero h1{
    font-size: 34px;
  }
  #hero h4{
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  #hero {
    background-position: center top;
  }
}
#about h1{
    
    text-align: center;
}

body.dark-mode h1,body.dark-mode p{
    color: white;
}
#about img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .content-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  .image-container {
    flex-basis: 60%;
  }
  
  .text-container {
    flex-basis: 55%;
    padding-top: 100px;
    text-align: left;
  }
  .tab-titles{
    display: flex;
    margin: 20px 0 40px;
  }
  .tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position:relative;
  }
  .tab-links:hover::after,.active-link::after{
    content: "";
    width: 70%;
    height: 3px; 
    background-color: red;
    position: absolute;
    bottom: -4px;
    left: 0px;
    transition: 0.03s;
  }
  .tab-contents li{
    list-style: none;
    margin: 10px 0;
  }
  .tab-contents ul li span{
    color: red;
    font-size: 17px;
  }
  .tab-contents{
    display: none;
  }
  .tab-contents.active-tab{
    display: block;
  }
  body.dark-mode .tab-contents ul li{
    color: white;
  }

  /* Media query for iPad devices */
@media (max-width: 1112px) {
    .content-wrapper {
      flex-direction: column;
    }
  
    .image-container,
    .text-container {
      flex-basis: 100%;
      padding-top: 0;
    }
  }
/* Media query for mobile devices */
@media (max-width: 767px) {
    .content-wrapper {
      flex-direction: column;
    }

    .image-container,
    .text-container {
      flex-basis: 100%;
      padding-top: 0;
    }
  }

  

 #contact h1{
    text-align: center;
}

body.dark-mode h1,body.dark-mode p{
    color: white;
}
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

.contact-left{
    flex-basis: 35%;
  }
.contact-right{
    
    flex-basis: 55%;
   

  }
  .contact-left p{
    margin-top: 30px;
  }
  .contact-left p i{
    color: red;
    margin-right:3px;
    font-size: 25px;
  }
  .social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
  }
  .social-icons a:hover{
    color: red;
    transform:translateY(-5px) ;
  }
  
  .contact-left button{
    border: none;
    padding: 10px 30px;
    font-size:  20px;
    position: relative;
    background: transparent;
    margin-top: 30px;
    color: #000000;
    text-transform: uppercase;
    border: 3px solid #000000;
    cursor: pointer;
    transition: all 0.7s;
    overflow: hidden;
    border-radius: 100px;
}
.contact-left button:hover {
     color:red;
     transform:translateY(-5px) ;
 }
  .contact-right form{
    width: 100%;
    padding: 20px;
   
  }
  form input,form textarea{
    width: 100%;
    border: 0 ;
    outline:none;
    padding: 15px;
    background: #bababa;
    font-size:18px ;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  form textarea{
    resize: none;
    height: 150px;
    width: 100%;

  }  
  
  form .btn2{
    border: none;
    padding: 10px 30px;
    font-size:  20px;
    position: relative;
    background: transparent;
    color: black;
    text-transform: uppercase;
    border: 3px solid black;
    cursor: pointer;
    transition: all 0.7s;
    overflow: hidden;
    border-radius: 100px
  }
  
  body.dark-mode form .btn2,
  body.dark-mode .contact-left button{
    color: white;
    border: 3px solid white;
  }
  form .btn2:hover,
  body.dark-mode form .btn2:hover,
  body.dark-mode .contact-left button:hover{
    color: red;
    transform:translateY(-5px) ;
  }
  

  .copyright{
    width: 100%;
    padding: 0px;    
  }
  .copyright p{
    text-align: center;
  }
  @media(max-width:799px){
    footer {
        display: flex;
      }
      .contact-left, .contact-right{
        flex-basis: 100%;

      }
      .contact-left button,form .btn2{
        padding: 8px 20px;
        font-size:  13px;
        border: 2px solid #000000;
       
      }
      .copyright p{
        font-size: 14px;
      }
    

  }